page-standings {
    .centerTable { 
        margin: 0px auto;
        border-collapse: collapse;
        width: calc(50% - 10px);
        float: left;
        margin: 9px;
    }

    td{
        text-align: center;
        vertical-align: middle;
    }

}
